<!--
[routerLinkActive]="['class']"
[routerLinkActiveOptions]="{exact:true}"

-->

<header>
  <nav>

    <ul>
      <li><a routerLink="/" [routerLinkActive]="['nav__link--has-active']"
          [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li><a routerLink="/about" [routerLinkActive]="['nav__link--has-active']"
          [routerLinkActiveOptions]="{exact:true}">Sobre</a></li>
      <li><a routerLink="/404" [routerLinkActive]="['nav__link--has-active']"
          [routerLinkActiveOptions]="{exact:true}">Error</a></li>

    </ul>

  </nav>
</header>